.resSelectableTitleList.listbox {
    > .listbox-list {
        display: block;
        background-color: transparent;
        border: 0;
        
        > li {
            display: inline-block;
            width: auto;
            height: auto;
            
            > a {
                font-size: @CardTitleFontSize;
                color: @TitleText;
                margin: 0;
            }
            
            &.selected,
            &:hover:not([aria-selected="true"]) {
                 > a, a:hover {
                    background-color: transparent;
                    color: @Accent;
                }
            }
        }

        &.defaultHeight {
            height: auto;
        }
    }
}