.resourceRequestCard {
    width: auto;
    height: auto !important;

    &.listRoot.layout-container.layout-vertical.list-hasRendered {
        background-color: transparent;
    }

    .listItem {
        width: auto;
        display: inline-block;
        margin: 0 (4 * @margin) @margin 0;
        overflow: hidden; 
        cursor: pointer;

        &:hover {
        //    background-color: @LightGray1;
        } 

        .card_content {
            background-color: @LightGray0 !important;
            height: (@gridUnit * 5 / 3 + 80);

            > :first-child { 
                width: auto;
                position: absolute;
                right: 0;
                padding: @padding;
        
                .field {
                    font-weight: @SemiLightFontWeight;
                    text-align: right;
                    height: 50px;
                    font-size: 45px;
                    color: @Accent;
                }
            }

            > :nth-child(2) textarea.field { 
                    height: 90px;
                    white-space: pre-wrap;
                    padding: @padding;
                
            }

            /* This field was added to match the `Business card - status` pattern */
            > :nth-child(3) { 
                visibility: hidden;
                position:   absolute;
            }

            > :nth-child(4) { 
                position: absolute;
                bottom: 0;
                
                input.field {
                    text-align: right;
                    height : auto;
                    padding: 4px @padding;
                }
            }
        }
    }
}