.group_resFulfillment {
    .availabilityView {
        .av-col-card {
            &:first-child .resourceCard {
                background: rgba(95, 157, 159, 1) !important; 
                color: @LightGray0 !important;
                
                .utilBar, 
                .cardImage {
                    visibility: hidden;
                    position: absolute;
                }

                .title {
                    font-size: @gridUnit !important;
                    padding: @padding 0 0 (@padding * 9);
                }
            }
        } 
    }
}

.group_resRequestLines {
    .field {
        font-size: @SmallHeadingFontSize;
        font-weight: normal;
    }
}