<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>ProjBudgetLineEntityTableMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
internal interface ProjBudgetLineEntityTableMapper extends ProjEntityTableMapper
{

}
]]></Declaration>
		<Methods>
			<Method>
				<Name>writeTableToDatabase</Name>
				<Source><![CDATA[
    /// <summary>
    /// Writes the mapped table object to Database
    /// </summary>
    public void writeTableToDatabase()
    {
    }

]]></Source>
			</Method>
			<Method>
				<Name>getTable</Name>
				<Source><![CDATA[
    /// <summary>
    /// Getter for Table object
    /// </summary>
    /// <returns>Table of Common datatype</returns>
    public Common getTable()
    {
    }

]]></Source>
			</Method>
			<Method>
				<Name>getTransactionClassification</Name>
				<Source><![CDATA[
    /// <summary>
    /// Returns transaction classification of the entity object. It is needed to classify them into Empl, Item or Cost Forecast.
    /// </summary>
    /// <returns>Enum of ProjTransType</returns>
    public ProjTransType getTransactionClassification()
    {
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>