<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>PurchaseOrderResponseLineMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
/// <summary>
/// Mapper class responsible for mapping <c>PurchaseOrderResponseLine</c> to <c>PurchaseOrderResponseLineAllVersions</c>
/// </summary>
public class PurchaseOrderResponseLineMapper implements VersioningIDocumentViewRecordMapper
{
}
]]></Declaration>
		<Methods>
			<Method>
				<Name>fromTableId</Name>
				<Source><![CDATA[
    public TableId fromTableId()
    {
        return tableNum(PurchaseOrderResponseLine);
    }

]]></Source>
			</Method>
			<Method>
				<Name>toTableId</Name>
				<Source><![CDATA[
    public TableId toTableId()
    {
        return tableNum(PurchaseOrderResponseLineAllVersions);
    }

]]></Source>
			</Method>
			<Method>
				<Name>mapRecord</Name>
				<Source><![CDATA[
    public Common mapRecord(Common _recordToMap)
    {
        if (_recordToMap.TableId != this.fromTableId())
        {
            throw error(Error::wrongUseOfFunction(funcName()));
        }

        PurchaseOrderResponseLine responseLine = _recordToMap;

        PurchaseOrderResponseLineAllVersions responseLineAllVersions;

        select firstonly responseLineAllVersions
            order by VersionDateTime desc
            where responseLineAllVersions.PurchaseOrderResponseHeader  == responseLine.PurchaseOrderResponseHeader
               && responseLineAllVersions.PurchaseOrderResponseLine    == responseLine.RecId;

        return responseLineAllVersions;
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>