<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>PurchaseOrderResponseHeaderMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
/// <summary>
/// Mapper class responsible for mapping <c>PurchaseOrderResponseHeader</c> to <c>PurchaseOrderResponseHeaderAllVersions</c>
/// </summary>
public class PurchaseOrderResponseHeaderMapper implements VersioningIDocumentViewRecordMapper
{
}
]]></Declaration>
		<Methods>
			<Method>
				<Name>fromTableId</Name>
				<Source><![CDATA[
    public TableId fromTableId()
    {
        return tableNum(PurchaseOrderResponseHeader);
    }

]]></Source>
			</Method>
			<Method>
				<Name>toTableId</Name>
				<Source><![CDATA[
    public TableId toTableId()
    {
        return tableNum(PurchaseOrderResponseHeaderAllVersions);
    }

]]></Source>
			</Method>
			<Method>
				<Name>mapRecord</Name>
				<Source><![CDATA[
    public Common mapRecord(Common _recordToMap)
    {
        if (_recordToMap.TableId != this.fromTableId())
        {
            throw error(Error::wrongUseOfFunction(funcName()));
        }

        PurchaseOrderResponseHeader responseHeader = _recordToMap;

        PurchaseOrderResponseHeaderAllVersions responseHeaderAllVersions;

        select firstonly responseHeaderAllVersions
            order by VersionDateTime desc
            where responseHeaderAllVersions.PurchaseOrderResponseHeader == responseHeader.RecId;

        return responseHeaderAllVersions;
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>