<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>TMSInvoiceLineDimMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
/// <summary>
///   The <c>TMSInvoiceLineDimMapper</c> class is used to map a list of query range values specified by the consumer,
///   with the list of physial dimension fields on <c>TMSInvoiceLine</c> table.
/// </summary>
class TMSInvoiceLineDimMapper extends TMSDimMapper
{
}
]]></Declaration>
		<Methods>
			<Method>
				<Name>getTableId</Name>
				<Source><![CDATA[
        protected TableId getTableId()
    {
        return tableNum(TMSInvoiceLine);
    }

]]></Source>
			</Method>
			<Method>
				<Name>loadFieldsMap</Name>
				<Source><![CDATA[
        protected void loadFieldsMap(Map _fieldsMap)
    {
        _fieldsMap.insert(1, fieldNum(TMSInvoiceLine, Dimension1));
        _fieldsMap.insert(2, fieldNum(TMSInvoiceLine, Dimension2));
        _fieldsMap.insert(3, fieldNum(TMSInvoiceLine, Dimension3));
        _fieldsMap.insert(4, fieldNum(TMSInvoiceLine, Dimension4));
        _fieldsMap.insert(5, fieldNum(TMSInvoiceLine, Dimension5));
        _fieldsMap.insert(6, fieldNum(TMSInvoiceLine, Dimension6));
        _fieldsMap.insert(7, fieldNum(TMSInvoiceLine, Dimension7));
        _fieldsMap.insert(8, fieldNum(TMSInvoiceLine, Dimension8));
        _fieldsMap.insert(9, fieldNum(TMSInvoiceLine, Dimension9));
        _fieldsMap.insert(10, fieldNum(TMSInvoiceLine, Dimension10));
    }

]]></Source>
			</Method>
			<Method>
				<Name>construct</Name>
				<Source><![CDATA[
        public static TMSInvoiceLineDimMapper construct()
    {
        return new TMSInvoiceLineDimMapper();
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>