<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>VersioningIDocumentViewRecordMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
/// <summary>
/// Interface to facilitate mapping between different record types.
/// </summary>
public interface VersioningIDocumentViewRecordMapper
{
}
]]></Declaration>
		<Methods>
			<Method>
				<Name>fromTableId</Name>
				<Source><![CDATA[
    /// <summary>
    /// Get the table id of the table from which mapping should be done.
    /// </summary>
    /// <returns>
    /// TableId of the source mapping table.
    /// </returns>
    public TableId fromTableId()
    {
    }

]]></Source>
			</Method>
			<Method>
				<Name>toTableId</Name>
				<Source><![CDATA[
    /// <summary>
    /// Get the table id of the table to which mapping should be done.
    /// </summary>
    /// <returns>
    /// TableId of the target mapping table.
    /// </returns>
    public TableId toTableId()
    {
    }

]]></Source>
			</Method>
			<Method>
				<Name>mapRecord</Name>
				<Source><![CDATA[
    /// <summary>
    /// Returns the target table record corresponding to a source table record.
    /// </summary>
    /// <param name = "_recordToMap">
    /// Source record for which mapping should be done.
    /// </param>
    /// <returns>
    /// Mapped target record.
    /// </returns>
    public Common mapRecord(Common _recordToMap)
    {
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>