<?xml version="1.0" encoding="utf-8"?>
<AxClass xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Name>WHSWorkProcessMapper</Name>
	<SourceCode>
		<Declaration><![CDATA[
internal final class WHSWorkProcessMapper
{
}
]]></Declaration>
		<Methods>
			<Method>
				<Name>workCreationProcess2WorkProcess</Name>
				<Source><![CDATA[
    internal static WhsWorkProcess workCreationProcess2WorkProcess(WHSWorkCreationProcess _workCreationProcess)
    {
        WhsWorkProcess workProcess;

        switch (_workCreationProcess)
        {
            case WHSWorkCreationProcess::LicensePlateReceiving:
                workProcess = WhsWorkProcess::LicensePlateReceiving;
                break;

            case WHSWorkCreationProcess::PurchaseOrderItemReceiving:
                workProcess = WhsWorkProcess::PurchaseItemReceiving;
                break;

            case WHSWorkCreationProcess::PurchaseOrderLineReceiving:
                workProcess = WhsWorkProcess::PurchaseLineReceiving;
                break;

            case WHSWorkCreationProcess::LoadItemReceiving:
                workProcess = WhsWorkProcess::LoadItemReceiving;
                break;

            default:
                workProcess = WhsWorkProcess::All;
                break;
        }

        return workProcess;
    }

]]></Source>
			</Method>
		</Methods>
	</SourceCode>
</AxClass>